
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 80%;
  margin: 0 auto;
}
main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
article{
  width: 23%;
}
img{
  width: 100%;
}